.App {
  text-align: center;
  width: 60%;
  margin: auto;
}
button{
  color: pink;
}
.border{
  border: 1px solid pink;
}
.red{
  background-color: red;
}
.lightgreen{
  background-color: lightgreen;
}
p:hover{
  background-color: salmon;
}

.backgroundColorYellow{
  background-color: yellow;
}

.colorOrange{
  color: orange;
}

@media screen and (min-width:800px){
  p{
    border: 1px solid black;
  }
}
